---
import Link from "@elements/Link.astro"
import classy from "@utils/classy"

const linkClasses = classy([
  'col-auto',
  'content-center',
])
---
<div class="k-desktop-nav grid-cols-6 gap-x-4 hidden md:grid">
  <Link
  url="/"
  header
  { ...linkClasses }
  >
  Inicio
  </Link>
  <Link
  url="/medicos"
  header
  { ...linkClasses }
  >
  Medicos
  </Link>

</div>
