---
import Icon from "@elements/Icon.astro";

import location from "@icons/location_white.svg?raw";
import phone from "@icons/phone_white.svg?raw";
import email from "@icons/email_white.svg?raw";
import classy from "@utils/classy";
import Socials from "./Socials.astro";

const textClasses = classy([
  "md:col-start-2 md:col-span-4 md:col-end-6",
  "col-span-5",
  "md:typo-body-l",
  "typo-body-s",
  "text-white",
  "font-light",
  "antialiased"
]);
const iconClasses = classy([
  "col-start-1 col-span-1 col-end-2",
  "content-center",
  "justify-self-center"
]);
---
<div class="col-span-3 xl:col-span-2 grid grid-cols-6 gap-x-5 gap-y-8">
  <Icon icon={location} { ...iconClasses }/>
  <a {...textClasses} href="https://maps.app.goo.gl/3qtcmPRDoCDBiTn2A" target="_blank">
    Jesús Solis 1626, La Nogalera 2do Sector, 66417, San Nicolás de los Garza, N.L.
  </a>
  <Icon icon={phone} { ...iconClasses }/>
  <div {...textClasses}
    <p>+52 81 4089 9924</p>
    <p>+52 81 4089 9925</p>
  </div>
  <Icon icon={email} { ...iconClasses }/>
  <div {...textClasses}>
    admision@clinicaenlace.mx
  </div>
  <Socials/>
</div>
