---
import Icon from "@elements/Icon.astro";

import facebook from '@icons/facebook_footer.svg?raw';
import instagram from '@icons/instagram_footer.svg?raw';
import linkedin from '@icons/linkedin_footer.svg?raw';
---
<div class="flex col-span-6 md:col-span-5 md:justify-around justify-between">
  <a
    href='https://www.instagram.com/clinicaenlacemx/' aria-label="Pagina de Instagram"
    rel='nofollow'
  >
    <Icon icon={instagram}/>
  </a>
  <a
    href='https://www.facebook.com/ClinicaEnlace/'
    aria-label="Pagina de Facebook"
    rel='nofollow'
  >
    <Icon icon={facebook}/>
  </a>
  <a
    href='https://www.linkedin.com/company/cl%C3%ADnica-enlace/' aria-label="Pagina de LinkedIn"
    rel='nofollow'
  >
    <Icon icon={linkedin}/>
  </a>
</div>
