---
import Icon from "@elements/Icon.astro";
import menu_closed from "@icons/menu_closed.svg?raw";
---
<div class="k-hamburger self-center">
  <Icon icon={menu_closed} />
</div>
<style>
.k-hamburger{

}
</style>
