/* Everything on top of this is old and outdated  */
body {
  background-color: #F8FAFC;
  .aspect-ratio-custom {
    aspect-ratio: 21/9
  }
}

@tailwind components;

@layer components {
  .k-section{
    @apply px-8 my-12 lg:px-20 lg:my-16 2xl:px-48;
  }
}

.k-doctor-card {

  .k-doctor-card-image {
    img {
      aspect-ratio: 6/4;
    }
  }
}

.bg-tint {
  background-color: #4CAEB9;
}

.text-tint {
  color: #4CAEB9;
}

.swiper-pagination-bullet {
  background-color: #59CCD9!important;
  opacity: 0.3!important;
}
.swiper-pagination-bullet-active {
  background-color: #59CCD9!important;
  opacity: 1!important;
}

:root{
  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    color: #59CCD9;
  }
  swiper-container::part(bullet-active) {
    background-color: #59CCD9;
    opacity: 1;
  }
  swiper-container::part(bullet) {
    background-color: #59CCD9;
    opacity: 0.3!important;
  }
  swiper-container::part(pagination) {
    position: relative;
    margin-top: 1rem
  }
}

.k-blog-image, .k-category-image {
  img {
    width: 100%;
  }
}

.k-link-content-wrapper.k-decoration-under {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #3c5368;
    transition: width 200ms ease;
  }
}

:not(.k-active){
    & .k-decoration-under:hover{
    &:before {
      width: 100%;
    }
  }
}

& .shadow {
  box-shadow: 4px 4px 4px 2px #2D3E4E33;
}

.k-input-email {
  outline: none;
}
