/* Everything on top of this is old and outdated  */
body {
  background-color: #F8FAFC;
}

@tailwind components;

@layer components {
  .k-section{
    @apply px-8 my-12 lg:px-36 lg:my-16 2xl:px-48;
  }
}

.k-doctor-card {

  .k-doctor-card-image {
    img {
      aspect-ratio: 6/4;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #2D3648!important;
}

.swiper-pagination-bullet {
  background-color: #59CCD9!important;
  opacity: 0.3!important;
}
.swiper-pagination-bullet-active {
  background-color: #59CCD9!important;
  opacity: 1!important;
}

:root{
  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    color: #2D3648;
  }
  swiper-container::part(bullet-active) {
    background-color: #59CCD9;
    opacity: 1;
  }
  swiper-container::part(bullet) {
    background-color: #59CCD9;
    opacity: 0.3!important;
  }
  swiper-container::part(pagination) {
    position: relative;
    margin-top: 1rem
  }
}
