---
import BaseLayout from '@layouts/base.astro';

import Greeting from '@components/Greeting';
import BigHero from '@components/bigHero.astro';

const pageTitle = "Inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <BigHero/>
  <h2>En construccion</h2>
  <!-- <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]}/> -->

</BaseLayout>
