---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import heart from '@icons/blue/cardio.svg?raw';
import liverYellow from '@icons/liver_yellow.svg?raw';

import Favicon from "@utils/favicon.astro";

import Link  from "@elements/Link.astro";

import '@styles/global.css';
import '@styles/typography.css';
import Cabinet from "@components/Cabinet.astro";
import Linebreak from "@elements/Linebreak.astro";
import MediaPanel from "@components/MediaPanel.astro";
import NearbyPlaces from "@components/NearbyPlaces.astro";

const { pageTitle } = Astro.props ;

const headerTitle =  `Astro | ${pageTitle || 'Style Guide'}`
const Title = pageTitle || headerTitle;
---

<html lang="en">
	<head>
		<Favicon/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{headerTitle}</title>
	</head>
	<body>
		<Header />
		<h1 class="font-bold mx-8 lg:mx-36">{Title}</h1>
		<p class="text-green">green</p>
		<p class="text-red">red</p>
		<p class="text-yellow">yellow</p>
		<h3 class="italic font-bold mx-8 lg:mx-36">Buttons: a</h3>
		<div class="mx-8 lg:mx-36 grid grid-cols-3 lg:grid-cols-6  place-content-around">
			<div class="bg-cyan-soft flex flex-auto place-content-center p-8">
				<Link
					url="/"
					color="metal"
				>
					Metal
				</Link>
			</div>
			<div class="flex flex-auto place-content-center p-8">
				<Link
					url="/"
					color="blue"
				>
					Blue
				</Link>
			</div>
			<div class="bg-metal flex flex-auto place-content-center p-8">
				<Link
					url="/"
					text="white"
					color="white"
				>
					White
				</Link>
			</div>
			<div class="bg-cyan-soft flex flex-auto place-content-center p-8">
				<Link
					url="/"
					color="invert"
				>
					Invert
				</Link>
			</div>
			<div class="flex flex-auto place-content-center p-8">
				<Link
					url="/"
					color="yellow"
				>
					Yellow
				</Link>
			</div>
			<div class="flex flex-auto place-content-center p-8">
				<Link
					url="/"
					color="red"
				>
					Red
				</Link>
			</div>
		</div>
		<div class="mx-8 lg:mx-36 grid grid-cols-3 lg:grid-cols-6 place-content-around">
			<div class="bg-cyan-soft flex flex-auto place-content-center p-8">
				<Link
					rounded
					url="/stylesheet"
					color="metal"
				>
					Metal
				</Link>
			</div>
			<div class="flex flex-auto place-content-center p-8">
				<Link
					rounded
					url="/stylesheet"
					color="blue"
				>
					Blue
				</Link>
			</div>
			<div class="bg-metal flex flex-auto place-content-center p-8">
				<Link
					rounded
					url="/stylesheet"
					text="white"
					color="white"
				>
					White
				</Link>
			</div>
			<div class="bg-cyan-soft flex flex-auto place-content-center p-8">
				<Link
					rounded
					url="/stylesheet"
					color="invert"
				>
					Invert
				</Link>
			</div>
			<div class="flex flex-auto place-content-center p-8">
				<Link
					rounded
					url="/stylesheet"
					color="yellow"
				>
					Yellow
				</Link>
			</div>
			<div class="flex flex-auto place-content-center p-8">
				<Link
					rounded
					url="/stylesheet"
					color="red"
				>
					Red
				</Link>
			</div>
		</div>
		<h3  class="mx-8 lg:mx-36">Links:</h3>
		<div class="mx-8 lg:mx-36 grid grid-cols-2 place-content-around">
			<div class="bg-metal flex flex-auto place-content-center p-8">
				<Link
					url="https://www.google.com"
					mini
				>
					Testimonios de otros pacientes</Link>
			</div>
			<div class="bg-cyan-soft flex flex-auto place-content-center p-8">
				<Link
					url="https://www.google.com"
					nav
				>
					Nav
				</Link>
			</div>
			<div class="flex flex-auto place-content-center p-8">
				<Link
					url="https://www.google.com"
					header
				>
					header
				</Link>
			</div>
			<div class="flex flex-auto place-content-center p-8">
				<Link
					url="/stylesheet"
					header
					active
				>
					active page
				</Link>
			</div>
		</div>
		<div class="bg-neutral-500 mx-8 lg:mx-36 grid grid-cols-1 place-content-around">
			<div class="flex flex-auto place-content-center p-8">
				<Link
					footer
					url="/stylesheet"
				>
					footer
				</Link>
				<Link
					footer
					url="#"
				>
					footer
				</Link>
				<Link
					color="cyan"
					url="/"
				>
					cyan
				</Link>
			</div>
		</div>
		<Cabinet
    style = "blue"
    title = 'Cabinet blue'
    subtitle = 'Una amplia gama de servicios médicos para cuidar de tu salud en todo momento. Desde ultrasonidos hasta procedimientos mayores, cada especialista está aquí para atenderte con el máximo cuidado y profesionalismo.'
    items = {[
      {
        title: 'Centros de especialidad',
        icon: heart,
        url : '/buscar'
      },
      {
        title: 'Ultrasonido convencional y Doppler',
        icon: heart
      },
      {
        title: 'Procedimientos intervencionistas',
        icon: heart
      },
      {
        title: 'Consulta con especialidades',
        icon: heart
      },
      {
        title: 'Electrocardiograma y ecocardiograma',
        icon: heart
      }
    ]}
    cta = {{
      text: 'Ver más',
      url: '/servicios',
    }}
		/>
		<Cabinet
    style = "white"
    title = 'Cabinet white'
    subtitle = 'Una amplia gama de servicios médicos para cuidar de tu salud en todo momento. Desde ultrasonidos hasta procedimientos mayores, cada especialista está aquí para atenderte con el máximo cuidado y profesionalismo.'
    items = {[
      {
        title: 'Centros de especialidad',
        icon: heart,
        url : '/buscar'
      },
      {
        title: 'Ultrasonido convencional y Doppler',
        icon: heart
      },
      {
        title: 'Procedimientos intervencionistas',
        icon: heart
      },
      {
        title: 'Consulta con especialidades',
        icon: heart
      },
      {
        title: 'Electrocardiograma y ecocardiograma',
        icon: heart
      }
    ]}
		cta = {{
			text: 'Ver más',
			url: '/servicios',
		}}
		/>
		<Linebreak/>
		<div class='px-8 pb-9 lg:pl-36 pt-16 lg:pt-10 bg-green'>
			temp
		</div>
		<Linebreak color="metal"/>
		<MediaPanel
			icon = {liverYellow}
			cta = {{
				text: 'Ver más',
				url: '/servicios',
			}}
		>
			<Fragment slot="title">
				Centro del <strong>Hígado</strong>
				y <strong>Sistema Biliar</strong>
			</Fragment>
			<Fragment slot="subtitle">
				El Centro Hepatobiliar es un centro especializado que cuenta con los recursos y la experiencia necesarios para abordar las enfermedades del <strong>hígado</strong> y <strong>sistema biliar</strong> de manera integral. Consulta los servicios que el Centro Hepatobiliar de Clínica Enlace tiene para atenderte
			</Fragment>
		</MediaPanel>
		<MediaPanel
			medium
			cta = {{
				text: 'Ver mása',
				url: '/servicios',
			}}
		>
			<Fragment slot="title">
				Caentro del <strong>Hígado</strong>
				y <strong>Sistema Biliar</strong>
			</Fragment>
			<Fragment slot="subtitle">
				El Centro Hepatobiliar es un centro especializado que cuenta con los recursos y la experiencia necesarios para abordar las enfermedades del <strong>hígado</strong> y <strong>sistema biliar</strong> de manera integral. Consulta los servicios que el Centro Hepatobiliar de Clínica Enlace tiene para atenderte
			</Fragment>
		</MediaPanel>
		<MediaPanel
			small
			line
			style="green"
			cta = {{
				text: 'Ver mása',
				url: '/servicios',
			}}
		>
			<Fragment slot="title">
				Caentro del <strong>Hígado</strong>
				y <strong>Sistema Biliar</strong>
			</Fragment>
			<Fragment slot="subtitle">
				El Centro Hepatobiliar es un centro especializado que cuenta con los recursos y la experiencia necesarios para abordar las enfermedades del <strong>hígado</strong> y <strong>sistema biliar</strong> de manera integral. Consulta los servicios que el Centro Hepatobiliar de Clínica Enlace tiene para atenderte
			</Fragment>
		</MediaPanel>
		<MediaPanel
			small
			line
			style="red"
			cta = {{
				text: 'Ver mása',
				url: '/servicios',
			}}
		>
			<Fragment slot="title">
				Caentro del <strong>Hígado</strong>
				y <strong>Sistema Biliar</strong>
			</Fragment>
			<Fragment slot="subtitle">
				El Centro Hepatobiliar es un centro especializado que cuenta con los recursos y la experiencia necesarios para abordar las enfermedades del <strong>hígado</strong> y <strong>sistema biliar</strong> de manera integral. Consulta los servicios que el Centro Hepatobiliar de Clínica Enlace tiene para atenderte
			</Fragment>
		</MediaPanel>
		<MediaPanel
			small
			line
			cta = {{
				text: 'Ver mása',
				url: '/servicios',
			}}
		>
			<Fragment slot="title">
				Caentro del <strong>Hígado</strong>
				y <strong>Sistema Biliar</strong>
			</Fragment>
			<Fragment slot="subtitle">
				El Centro Hepatobiliar es un centro especializado que cuenta con los recursos y la experiencia necesarios para abordar las enfermedades del <strong>hígado</strong> y <strong>sistema biliar</strong> de manera integral. Consulta los servicios que el Centro Hepatobiliar de Clínica Enlace tiene para atenderte
			</Fragment>
		</MediaPanel>
		<NearbyPlaces/>
		<Footer />
	</body>
</html>
