---
import classy from '@utils/classy';

const textClasses = classy([
  'text-white',
  'typo-body-m',
  'mt-1'
])
---
<div class="col-span-3 md:col-span-3 xl:col-span-1">
  <div class="typo-header-xs text-white font-bold mb-3 col-span-1">Horarios</div>
  <p {...textClasses}>Lunes 07:00 a 23:00</p>
  <p {...textClasses}>Martes 07:00 a 23:00</p>
  <p {...textClasses}>Miércoles 07:00 a 23:00</p>
  <p {...textClasses}>Jueves 07:00 a 23:00</p>
  <p {...textClasses}>Viernes 07:00 a 23:00</p>
  <p {...textClasses}>Sábado 07:00 a 23:00</p>
</div>
