---
import Icon from "@elements/Icon.astro";

import facebook from '@icons/facebook_footer.svg?raw';
import instagram from '@icons/instagram_footer.svg?raw';
import linkedin from '@icons/linkedin_footer.svg?raw';
import classy from "@utils/classy";

const linkClasses = classy([
  // 'col-span-1',
  // 'md:justify-self-center',
  // ''
])
---
<div class="flex col-span-6 md:justify-around justify-between">
  <a href='https://www.instagram.com/clinicaenlacemx/'>
    <Icon icon={instagram}/>
  </a>
  <a href='https://www.facebook.com/ClinicaEnlace/'>
    <Icon icon={facebook}/>
  </a>
  <a href='https://www.linkedin.com/company/cl%C3%ADnica-enlace/'>
    <Icon icon={linkedin}/>
  </a>
</div>
<style>
  
</style>
