---
import classy from "@utils/classy";

const {
  icon = false,
  class : className = ''
} = Astro.props;

const iconClasses = classy([
  'k-icon',
  className
])
---
{ Boolean(icon) &&
  <div {...iconClasses}>
    <Fragment set:html={icon} />
  </div>
}
