---
import classy from "@utils/classy";

let {
  icon = false,
  class : className = '',
  fill = ''
} = Astro.props;

const iconClasses = classy([
  'k-icon',
  className
])
const reg2 = /(#)\w+/g
icon = fill ? icon.replace(reg2,fill) : icon;
---
{ Boolean(icon) &&
  <div {...iconClasses}>
    <Fragment set:html={icon} />
  </div>
}
