---
import classy from '@utils/classy'

const {
  url,
  color = 'cyan',
  shadow = true,
  nav = false,
  link = false,
  header = false,
  active = false,
  rounded = false
} = Astro.props

let linkClasses = classy([
  !nav && !link && !header ? 'btn btn-primary typo-button-l py-3 px-8'
  : nav ? 'text-blue typo-button-s'
  : link ? 'text-white typo-button-s'
  : header && 'typo-header-xxs',
  shadow && color !== "invert" && !nav && !link && !header && 'shadow',
  active && 'font-semibold',
  rounded ? 'rounded-full' : 'rounded-sm',
  color === 'blue' ? 'text-white bg-blue'
  : color === 'invert' ? 'text-blue bg-white border-solid border border-blue'
  : color === 'metal' ? 'text-white bg-metal'
  : color === 'red' ? 'text-white bg-red'
  : color === 'white' ? 'text-metal bg-white'
  : color === 'yellow' && 'text-white bg-yellow'
])
---
<a href ={ url} {...linkClasses} >
  <slot/>
</a>
<style>
  .btn {
    &:hover{
      /* text-decoration: underline;*/
      /* TODO */
    }
    &.shadow {
      box-shadow: 4px 4px 4px 2px #2D3E4E33;
    }
  }
</style>
