---
import classy from '@utils/classy'

const {
  url,
  color = '',
  mini = false,
  rounded = false,
  header = false,
  nav = false,
  footer = false,
} = Astro.props

const isNav = footer || header || nav

let linkClasses = classy([
  !isNav && !mini ? 'btn btn-primary typo-button-l py-3 px-8'
  : nav ? 'text-blue typo-button-s'
  : mini ? 'typo-button-s'
  : header ? 'typo-header-xxs text-neutral-500'
  : footer && 'typo-body-m text-neutral-100',
  url === Astro.url.pathname && header && !color && 'font-black',
  !isNav && !mini && color !== "invert" && 'shadow',
  !isNav && rounded ? 'rounded-full' : 'rounded-sm',
  !isNav && !mini && color === 'blue' ? 'bg-blue'
  : color === 'invert' ? 'text-blue bg-white border-solid border border-blue'
  : color === 'metal' ? 'bg-metal'
  : color === 'red' ? 'bg-red'
  : color === 'white' ? 'text-metal bg-white'
  : color === 'yellow' && 'bg-yellow',
  !isNav && color !== 'invert' && color !== 'white' && 'text-white'
])
---
<a href ={ url} {...linkClasses} >
  <slot/>
</a>
<style>
  .btn {
    &:hover{
      /* text-decoration: underline;*/
      /* TODO */
    }
    &.shadow {
      box-shadow: 4px 4px 4px 2px #2D3E4E33;
    }
  }
</style>
