---
import classy from "@utils/classy"

import desktopImg from '@images/HeroVesicula.png'
import mobileImg from '@images/hero_movil_cvsb.png'

const bigContentClasses = classy([
  'k-hero-content',
  'top-1/2 -translate-y-1/2', // Padding classes for all components!
  'absolute', // Positioning classes for big hero only
])
---
<div class="k-hero-vesicula relative z-20" role="main" id="main">
  <picture class="k-hero-image">
    <source media="(max-width: 768px)" srcset={`/.netlify/images?url=${mobileImg.src}&fm=webp`} />
    <source media="(min-width: 1024px) and (max-width: 1279px)" srcset={`/.netlify/images?url=${desktopImg.src}&fm=webp`} />
    <source media="(min-width: 1280px)" srcset={`/.netlify/images?url=${desktopImg.src}&fm=webp`} />
    <img {...mobileImg} src={`/.netlify/images?url=${mobileImg.src}&fm=webp`} alt='' />
  </picture>
  <div {...bigContentClasses}>
    <div class="md:w-[60%] justify-self-center text-white text-center" >
      <h1 class="header-m">
        Unidad de Práctica Integrada para el Diagnóstico y Tratamiento de Enfermedades de <strong class="text-ngreen">Vesícula y Sistema Biliar</strong>
      </h1>
      <div
        class="flex flex-col md:flex-row justify-around"
      >
        <a
          href="#sintomas"
          class="bg-ngreen p-4 rounded-3xl m-4"
        >
          ¿CÓMO SABER SI ES <br/>MI VESÍCULA?
        </a>
        <a
          href="#cirugia-de-vesicula"
          class="bg-npurple p-4 rounded-3xl m-4"
        >
          TENGO DIAGNÓSTICO <br/>(PIEDRAS EN LA VESÍCULA)
        </a>
      </div>
    </div>
  </div>
</div>
<style>
  .k-hero-image {
    img {
      min-width: 100%;
    }
  }

  .k-text-shadow{
    @media screen and (width < 640px) {
      text-shadow: -1px 1px 1px #00000080;
    }
  }

  .k-decoration-under.text-cyan {
    .k-decor:before {
        background: #C9EEF2;
    }
  }

  .k-decoration-under.text-metal {
    .k-decor:before {
        background: #7191AD;;
    }
  }

  .k-decoration-under {
    .k-decor {
        position: relative;
      &:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        transition: width 200ms ease;
      }
    }
  }

  .k-decoration-under:hover {
    .k-decor:before {
      width: 100%;
    }
  }

  .address-btn {
    background-color: rgba( 0, 0, 0, 0.3);
  }
</style>
