---
import classy from '@utils/classy';
import Socials from '../footerComponents/Socials.astro';

// const { categories = [] } = Astro.props;
// TODO recieve these
const subtitleClasses = classy([
	"font-bold",
	"typo-body-m",
	"antialiased",
	"text-neutral-600",
	"py-4"
])

// TODO : I think categories will be created as a data type too
let categories = [
	{ title: 'Intervencionismo', link: '/blog/intervencionismo' }
]
---
<div class="k-categories mx-8 md:mx-0">
  <div {...subtitleClasses}>
    Categorías
  </div>
  {categories.map( (category, index) => {

    const categoryClasses = classy([
      "typo-body-m",
      "antialiased",
      "text-neutral-400",
      "py-2",
      "border-t",
      index === categories.length - 1 && "border-b",
      "border-neutral-400"
    ])

    return (
      <div {...categoryClasses}>
        <a href={category.link} class="block w-full">
          {category.title}
        </a>
      </div>
    )

  })}
</div>
<div class="border-b mx-8 md:mx-0">
  <div {...subtitleClasses}>
    Sigue nuestras redes sociales
  </div>
  <Socials/>
</div>
<div class="mx-8 md:mx-0">
  <div {...subtitleClasses}>
    Suscribirse al blog
  </div>
  <div
    class="typo-body-m antialiased text-neutral-400"
  >
    Mantente al día con los últimos avances y técnicas en intervencionismo médico.
  </div>
  <!-- TODO input field in react i guess -->
</div>
