---
import MediaPanel from "./MediaPanel.astro";

import whaIcon from '@icons/contact/wa_turquesa.svg?raw';
import phone from '@icons/contact/phone.svg?raw';
import Icon from "@elements/Icon.astro";
import classy from "@utils/classy";

const iconWrapperClasses = classy([
  'flex',
  'items-center',
  'mt-6',
]);

const textClasses = classy([
  'antialiased typo-body-m md:typo-body-xl',
  'text-metal'
])
---
<div class="k-section">
  <MediaPanel
    medium
    isElement
    title="Contáctanos. Estamos listos para asesorarte en lo que necesites."
    subtitle="Estamos a tu disposición para cualquier consulta, pregunta o para programar una cita. Nuestro equipo está aquí para brindarte la mejor atención médica posible. Puedes comunicarte con nosotros a través de WhatsApp, por teléfono, por correo electrónico o visitándonos en nuestra clínica. Nos comprometemos a ofrecerte un servicio de calidad y una experiencia de atención excepcional. ¡Esperamos poder ayudarte pronto!"
  />
  <div class="flex place-content-around flex-col md:flex-row items-center">
    <div {...iconWrapperClasses}>
      <Icon class="mr-4 max-w-8" icon={whaIcon} />
      <div {...textClasses}>
        81 2721 0979
      </div>
    </div>
    <div {...iconWrapperClasses}>
      <Icon class="mr-4 max-w-8" icon={phone} />
      <div {...textClasses}>
        81 4089 9924 <br>
        81 4089 9925
      </div>
    </div>
  </div>
</div>
