---
---
<a
  href="#main"
  class="rounded-l-3xl bg-npurple text-white fixed right-0 md:right-[15%] lg:right-[0%] lg:bottom-[5%] bottom-[10%] flex items-center justify-center z-10 uppercase p-4"
  aria-label="Regresar al inicio"
>
  Regresar ↑
</a>
