---
---
<a
  href="https://wa.me/+528127210979?text=Estoy+en+el+sitio+web+y+quiero+agendar+una+valoracion+para+cirugia+de+vesicula"
  target="_blank"
  class="rounded-l-3xl bg-ngreen text-white fixed right-0 md:right-[15%] lg:right-[0%] lg:bottom-[33%] bottom-1/4 flex items-center justify-center z-10 p-4 uppercase"
  rel='nofollow'
  aria-label="Contacta a un coordinador"
>
  Agendar
</a>
