---
import whatsapp from '@icons/wa_whitegreen.svg?raw'

import Icon from '@elements/Icon.astro'
---
<a
  href="https://wa.me/+528127210979?text=Hola%2C+estoy+en+el+sitio+web+y+quisiera+pedir+informes"
  target="_blank"
  class="rounded-full bg-green w-16 h-16 fixed right-0 md:right-[15%] lg:right-[5%] lg:bottom-[33%] bottom-1/4 flex items-center justify-center z-10"
  rel='nofollow'
>
  <Icon icon={whatsapp} class="content-center max-w-[50%]"/>
</a>
