---
import { ViewTransitions } from 'astro:transitions';

import Logo from "@elements/Logo.astro"
import DesktopMenu from '@header/HeaderMenu.astro';

let linkProps : { [key: string]: string } = {
  class : "col-span-2 lg:col-span-1",
  href:"/"
}

if ( Astro.url.pathname === '/' ){
  linkProps['aria-current']="page"
}
---
<header class="grid grid-cols-3 px-8 gap-x-4 lg:px-20 py-6 sticky top-0 bg-white z-10">
  <a {...linkProps} >
    <Logo/>
  </a>
  <DesktopMenu/>
  <ViewTransitions/>
</header>
