---
import Navigation from "@elements/Navigation.astro"
import Logo from "@elements/Logo.astro"
import Hamburguer from "./Hamburguer.astro"
---
<header class="grid grid-cols-2 mx-8 lg:mx-36 lg:gap-x-32  py-6">
  <Logo/>
  <nav>
    <Hamburguer/>
    <Navigation/>
  </nav>
</header>
