---
import Navigation from "../elements/Navigation.astro"
import ThemeIcon from "../elements/ThemeIcon.astro"
import Hamburguer from "./Hamburguer.astro"

---
<header>
  <nav>
    <Hamburguer/>
    <Navigation/>
    <ThemeIcon/>
  </nav>
</header>
