---
import Navigation from "@elements/Navigation.astro"
import Hamburguer from "./Hamburguer.astro"
import logo from "@icons/fullLogo.svg"
---
<header>
  <span>

  </span>
  <nav>
    <Hamburguer/>
    <Navigation/>
  </nav>
</header>
