---

const gmaps_key = import.meta.env.GOOGLE_MAPS_API_KEY

const apiLink = `https://maps.googleapis.com/maps/api/js?key=${gmaps_key}&callback=console.debug&libraries=maps,marker&v=beta`
---
<script is:inline async src={apiLink}>
  const temp = { lat: 25.766157150268555, long: -100.27318572998047}
  const map = document.getElementById("mapa_clinica")
  const contentString =
  '<div id="content">' +
  '<div id="siteNotice">' +
  "</div>" +
  '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
  '<div id="bodyContent">' +
  "<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large " +
  "sandstone rock formation in the southern part of the " +
  "Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) " +
  "south west of the nearest large town, Alice Springs; 450&#160;km " +
  "(280&#160;mi) by road. Kata Tjuta and Uluru are the two major " +
  "features of the Uluru - Kata Tjuta National Park. Uluru is " +
  "sacred to the Pitjantjatjara and Yankunytjatjara, the " +
  "Aboriginal people of the area. It has many springs, waterholes, " +
  "rock caves and ancient paintings. Uluru is listed as a World " +
  "Heritage Site.</p>" +
  '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
  "https://en.wikipedia.org/w/index.php?title=Uluru</a> " +
  "(last visited June 22, 2009).</p>" +
  "</div>" +
  "</div>";
  const infowindow = new google.maps.InfoWindow({
    content: contentString,
    ariaLabel: "Temp",
  });
  const marker = new google.maps.Marker({
    position: temp,
    map,
    title: "Uluru (Ayers Rock)",
  });

  marker.addListener("click", () => {
    infowindow.open({
      anchor: marker,
      map,
    });
  });
</script>
<div>
  <h2 class="header-m text-center font-bold text-gray">
    Ubicación
  </h2>
  <p class="k-subtitle text-neutral-700">
    <a target="_blank" class='underline'href="https://maps.app.goo.gl/3qtcmPRDoCDBiTn2A">Ubicado</a>  en San Nicolás de los Garza, N.L., Jesús Solís 1626, La Nogalera 2do Sector (C.P. 66417) es un punto de referencia en nuestra comunidad.
  </p>
  <div class="k-map-wrapper w-full">
    <gmp-map center="25.766157150268555,-100.27318572998047" zoom="16" map-id="clinica_enlace_map" id="mapa_clinica">
      <gmp-advanced-marker position="25.766157150268555,-100.27318572998047" title="Clinica Enlace"></gmp-advanced-marker>
    </gmp-map>
  </div>
</div>
<style>
gmp-map {
  height: 100%;
}
.k-map-wrapper {
  aspect-ratio: 1/1;
  @media screen and (min-width: 768px){
    aspect-ratio: 21/7
  }
}
</style>
