---
import avatarLong from "@icons/avatarlonghair.svg?raw"
import avatarShort from "@icons/avatarshorthair.svg?raw"
import Icon from "@elements/Icon.astro"

const testimonials=[
  {
    review: "“Excelente Clínica, cuenta con todo lo necesario: Muy buenas instalaciones, Excelentes médicos. (Tratamos con diferentes especialistas y cada uno de ellos muy profesionales y acertados), el personal administrativo muy amable y atento. En general una Clínica Calificada que recomiendo ampliamente. Felicidades a todo el equipo por la labor que realizan.”",
    date: "23 de marzo de 2024",
    pacient: "J. Escalera",
    avatar: avatarLong
  },
  {
    review: "“Excelente atención, especialistas muy capacitados te explican a detalle los procedimientos a realizar, y cuentan con tecnología de primer nivel para los diferentes procedimientos que practican, instalaciones de primer nivel y muy buena ubicación.”",
    date: "14 de octubre de 2023",
    pacient: "G. Chávez",
    avatar: avatarShort
  },
  {
    review: "“Excelente servicio, personal muy amable y capacitado, excelentes instalaciones todo muy limpio, cuentan con la tecnología necesaria para atender cualquier complicación inmediatamente, los doctores te explican Muy bien cualquier duda que tengas, lo recomiendo ampliamente!”",
    date: "5 de agosto de 2023",
    pacient:"D. Bravo",
    avatar: avatarLong
  },
  {
    review: "“Muy agradecida con todo el equipo por su profesionalismo y calidad humana, gracias al Dr. Dino Renzo Viacava excelente ginecólogo, al Dr. Germán excelente cirujano, a todas las enfermeras, recepcionistas y personas de intendencia, muy agradecidos por todas sus atenciones y ampliamente recomendados”",
    date: "28 de junio de 2023",
    pacient: "G. Nat",
    avatar: avatarShort
  },
  {
    review: "“Personal amable y altamente capacitado, instalaciones limpias y funcionales, recomendado ampliamente”",
    date: "1 de julio de 2023",
    pacient: "P. Rodríguez ",
    avatar: avatarLong
  },
  {
    review: "“Muy buena clínica, excelente equipo de médicos, con mucha amabilidad y certeza, te atienden de forma integral evaluando de manera global tu caso, con diagnóstico certero y muy buenas instalaciones preparados para cualquier situación que se pueda presentar, siempre tranquilizando al paciente como a la familia, 💯 % recomendable”",
    date: "23 de mayo de 2023",
    pacient: "A. Hernández ",
    avatar: avatarShort
  }

]

---
<div class="k-section">
  <h2 class="header-m text-neutral-500 text-center">Nuestros <strong>Pacientes</strong></h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        testimonials.map((testimonial) => (
          <div class="swiper-slide !grid !grid-cols-8 !gap-4 self-center">
            <div class="col-span-8 md:col-span-2 content-center lg:flex lg:justify-center md:items-center">
              <Icon icon={testimonial.avatar} />
            </div>
            <div class="grid grid-cols-8 col-start-2 md:col-start-3 col-span-6 md:col-span-6 md:col-end-8">
              <p class="col-span-8 typo-body-l md:typo-body-xxl text-neutral-500 italic text-justify antialiased">
                {testimonial.review}
              </p>
              <hr class="bg-neutral-500 col-span-8 my-4 text-neutral-500 border-none h-0.5">
              <div class="col-span-5 typo-body-m md:typo-header-xs text-neutral-500 font-bold antialiased">
                {testimonial?.pacient || 'Paciente del centro de especialidades' }
              </div>
              <div class="col-span-3 typo-body-s md:typo-body-l text-neutral-500 text-right content-antialiased">
                {testimonial.date}
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination !relative mt-4"></div>
    <div class="swiper-button-prev  "></div>
    <div class="swiper-button-next"></div>

  </div>
</div>
<script>
  // Core de Swiper y estilos
  import Swiper from 'swiper';
  import 'swiper/css';
  // Módulo Navigation de Swiper y estilos
  import { Navigation } from "swiper/modules";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  // Configurar Swiper
  const swiper = new Swiper(".swiper", {
    modules: [Navigation], // definir los módulos a usar
    loop: true,            // definir si los slides estarán en bucle
    slidesPerView: 1,      // agregar número de slides para la pantalla
    spaceBetween: 40,      // separación entre slides en px
    navigation: {          // definir botones next y prev para el módulo Navigation
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
      // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
