---
const algolia_key = import.meta.env.ALGOLIA_API_KEY;
// insert this in page for search:
// <Algolia />
// 		<div id="search">
// 		</div>
---


<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.23.3/dist/algoliasearch-lite.umd.js" integrity="sha256-1QNshz86RqXe/qsCBldsUu13eAX6n/O98uubKQs87UI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.72.1/dist/instantsearch.production.min.js" integrity="sha256-59qqzslN38mNkJKlgvKI02ShG5OUan47U+Z2SfW0q1w=" crossorigin="anonymous"></script>

<!-- <div class="k-section">
  <div id="search">

  </div>
  <div>
    a
  </div>
</div> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script is:inline type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript" data-algolia={algolia_key} is:inline>
  algoliasearchNetlify({
    appId: '9KW8PLZJBF',
    apiKey: this.dataset.algolia,
    siteId: 'ce080c16-9638-4482-ad69-938032b1629a',
    branch: 'main',
    selector: 'div#search',
  });
</script> -->
