---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import Favicon from "@utils/favicon.astro";

import '@styles/global.css';
import '@styles/typography.css';

const { pageTitle } = Astro.props ;

const headerTitle =  `${pageTitle || 'Missing Title'} | Clínica Enlace`
const Title = pageTitle || headerTitle;
---

<html lang="es">
	<head>
		<Favicon/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Title}</title>
	</head>
	<body>
		<Header />
    <slot />
		<Footer />
		<script>
			import "../scripts/menu.js"
		</script>
	</body>
</html>
