---
import { SEO } from 'astro-seo';
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import Favicon from "@utils/favicon.astro";
import seoDefault from "@images/mobileMain.jpg"

import '@styles/global.css';
import '@styles/typography.css';

const { seo } = Astro.props ;

const {
	title = 'Missing Title',
	description = 'Missing Description',
	image : {
		src,
		width,
		height,
		// alt, // not used in this, needs to be defined
		format
	} = seoDefault
} = seo

const seoImageUrl = `${new URL(src, Astro.url)}`

const seoObj = {
	title : `${title} | Clínica Enlace`,
	description,
	openGraph: {
		basic: {
			title: `${title} | Clínica Enlace`,
			type: "website",
			image: seoImageUrl,
		},
		image: {
			width,
			height,
			type: `image/${format}`,
			// alt
		}
	},
	twitter: {
		// creator: "@jonasmerlins1"
		title,
		description,
		image: seoImageUrl
	},
	// article:{ these options are there for when articles are introduced
	// 	publishedTime: "2022-01-01T00:00:00Z",
	// 	modifiedTime: "2022-01-01T00:00:
	// }
}
---

<html lang="es">
	<head>
		<SEO {...seoObj}/>
		<Favicon/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Header />
    <slot />
		<Footer />
		<script>
			import "../scripts/menu.js"
		</script>
	</body>
</html>
